/*CSS Document for a Brexit article*/


body { font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0; }

#page { max-width: 1200px; margin: 0 auto; background-color: rgba(168,183,188, .2); position: relative; }

/* Text */
h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700; }
h2 { margin: 0 0 .5em 0; font-size: 2.4em; font-weight: 700; line-height: 1.1em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700; }
h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700; }

p { margin: 0 0 1em 0; font-family: 'effra';}


a { color: #242632/*#007eff;*/};
a:visited {color: #242632;/*#65b1ff;*/};

a.btn { font-size: 1.2em; text-decoration: none; color: #f1f9f9; border: 1px solid #fff; padding: 4px 15px; transition: background-color .5s; }

a.btn:hover {background-color: rgba(0,0,0,.3); }

/* Header */
header { height: 200px; background: #006699 ; position: relative; }

header a.logo {
    z-index: 1;
    position: absolute;
    display: block; width: 300px; height: 160px;
    background: url(../images/breakingBrexitLogo.svg) no-repeat 0 0; background-size: contain; 
    top: 15px; left: 20px;
}

header a.logo span {display: none; }

/*section - all*/
section { padding: 0px; margin-top: 5px;}
section::after { content:''; display: block; clear: both; }

section.firstRank aside .top h3{color:#2996BA ; font-family: 'kepler-std-display'; font-weight:700; font-style:italic; margin-left: 0;}  
section.firstRank aside .top {background-color: rgba(168,183,188, .1);}

section.firstRank aside .top h3{color:#2996BA ; font-family: 'kepler-std-display'; font-weight:700; font-style:italic; }  

/*edit button*/
section.edit aside .editAndSubmit {padding: 30px;}
section.edit aside .editAndSubmit a.btn { font-size: 1.2em; text-decoration: none; color: #2996BA; border: 1px solid #006699; padding: 10px 15px; transition: background-color .5s; }

a.btn:hover { background-color: rgba(0,0,0,.3); }

/*textbox*/
section.story {margin-left: 10%; height: 500px; width: 500px; }
section.story aside .textBox { margin-left: 10%; background-size: contain; background-color: lightblue; }

/*thirdRank advert*/
section.thirdRank .thirdRk.advert {
    background: no-repeat center center;  
    background-image: url(../images/eventbriteSquareAdvert.svg); background-size: 400px 400px; padding-top: 300px;
}

/*secondRank advert*/ 
section.secondRank .secondRk.advert {
    background: no-repeat center center;  
    background-image: url(../images/eventbriteSquareAdvert.svg); background-size: 400px 400px; padding-top: 300px;
}

/*Top Banner*/
section.topBanner {
    margin-top: 5px; margin-bottom: 0px; background: no-repeat center top;  
    background-image: url(../images/eventbriteTopBanner.svg); background-size:1000px 260px; padding-top: 200px; }

/*Narrow Banner*/
section.narrowBanner {
    background: no-repeat center center;  
    background-image: url(../images/narrowBanner.svg); background-size:1000px 151px;
    padding-top: 151px;
}

/*navigation*/
nav {
    
    background-color: rgba(0, 102, 153, 1) /*rgba(0,0,0, .3)*/;
    position: absolute;
    top: 260px; left: 0px;
    padding: 50px 0 0 0;
    width: 100%;
}

nav::after { content:''; display: block; clear: both; } /*<!--??-->*/
nav ul { list-style: none; margin: 0; padding: 0px; }
nav ul li:hover { background-color: #2b0306; } /*they go black on hover*/

nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
}

nav ul li a:visited { color: #fff; }
nav ul li a:hover { background-color: #2996BA; } /*change from red colour*/

/*top level*/
nav > ul { padding-left: 317px; } /*spaces between menu buttons*/
nav > ul > li { float: left; } /*push them across the header*/

/*search*/

/*#search {
    background-color: deeppink;
    max-width: 50%;
    float:right; 
}*/

#search input {
    background-color: white;
    height: 26px;
    border: 2px solid #B09C04;
    max-width: 70%;
}

#search form input[type=search] {
    background-color: white;
    position: absolute;
    top: 315px; left: 1000px;
    height: 28px;
    border: 2px solid #2996BA;
    max-width: 70%;
}

/*#search form  {
    position: absolute;
    top: 370px; left: 500px;
    height: 30px;
    background-color: white;
    
}*/

/*footer*/

footer { font-size: .8em; margin: 40px; color: #999; }

footer .content { display: inline; }

footer a { margin-left: 30px; color: #777; }
footer a:visited { color: #777; }
footer a:hover { color: #000; }

@media screen and (max-width: 1000px ) {
    /* header */  
    
    section.topBanner { background: no-repeat center top;background-image: url(../images/eventbriteTopBanner.svg); height: 50%;  }
    
    header {  width: 100%; height: 100px; }
    header a.logo { width: 100px; height: 90px; }
    
    h1 {font-size: 2.4em; }
    h2 {font-size: 1.8em; font-weight: 500; }
    
    /*top news story*/
    section.pic aside.topPhoto { margin-left: 12%; height: 90%; width: 80%;}
    section.firstRank aside .top p.third, p.fourth { display: none; }    
    /*section.firstRank aside .picture { height: 300px; width: 600px; }*/
        
    /*navigation*/
    nav { width: 40%; top: 210px; left: 60px;}
    nav > ul { padding-left: 40px; } /*spaces between menu buttons*/
    /*nav > ul { float: left; } /*push them across the header*/

    nav > ul > li { float: left; } /*push them across the header*/
    
    nav ul li a {
    padding: 8px 20px;
    text-decoration: none;
    width: 30px;
    position: relative;
    }
    
    #search form input[type=search] {
    position: absolute; top: 260px; left: 400px;
    }
    
    /*second rank*/
    section.secondRank aside .secondRk.firstArticle p.second { display:none; }
    section.secondRank aside .secondRk.secondArticle p.second { display:none; }
    section.secondRank .secondRk { background-size: 240px 110px; padding-top: 115px; margin-left: 0px; }
    
    section.secondRank aside .secondRk.firstArticle p.title { font-family: 'effra'; font-weight: 300; font-style: normal; }
    section.secondRank aside .secondRk.secondArticle p.title { font-family: 'effra'; font-weight: 300; font-style: normal; }
    
    /*third rank*/
    section.thirdRank aside .thirdRk.firstArticle p.second { display:none; }
    section.thirdRank aside .thirdRk.secondArticle p.second { display:none; }
    section.thirdRank .thirdRk { background-size: 240px 110px; padding-top: 115px; margin-left: 0px; }
    
    section.thirdRank aside .thirdRk.firstArticle p.title { font-family: 'effra'; font-weight: 300; font-style: normal; }
    section.thirdRank aside .thirdRk.secondArticle p.title { font-family: 'effra'; font-weight: 300; font-style: normal; }
    
    /*second rank square adverts*/
    section.secondRank .secondRk.advert{ background-size: 300px 400px; margin-top: 0;  padding-top: 200px;}
    section.thirdRank .thirdRk.advert { background-size: 300px 400px; padding-top: 200px; }
    
}
    
@media screen and (max-width: 840px ) {
    
    h1 { font-size: 1.8em;}
    h2 { font-size: 1.4em;}
    h3 { font-size: 1.1em; font-weight: 700; }
    
    
    section.topBanner { margin-left: 0px; background: no-repeat center center; background-image: url(../images/eventbriteTopBanner.svg);  padding-top: 150px;}
    
    /*header*/
    header { margin-left: 5px; height: 90px; }
    header  {width: 100%; }
    
    /*main photo*/
    
    section.pic aside.topPhoto { margin-left: 10%; height: 80%; width: 70%;}
    section.firstRank aside.topStory {margin-left:1%; width:80%;}
    /*section.firstRank aside .top {width: 100%; background-color: aqua; }*/
    
    
    section.firstRank aside .picture { width: 0%; height: 0%; }
    section.firstRank aside.pic { width: 0%; height: 70%; }
    section.firstRank aside .picture { display: none; height: 10px ; width: 10px; color: aqua; }
    
    
    
    section.mobile .picture { margin-left: 60px; background: no-repeat center top; background-image: url(../images/adobeVLargePMs.svg);  height: 300px; width: 400px;}
    
    
    /*switch off the div for the ads allowing the stories to float right*/
    section.secondRank aside.sqAdd { width: 0%; height: 0%;}
    section.secondRank aside  { width: 40%; }
    /*section.secondRank .secondRk {background-image: 250px; 150px; }*/
    
    section.secondRank .secondRk { margin:0px; background: no-repeat center top; background-size: 210px 145px; padding-top: 155px;  }
    
    
    section.thirdRank aside.sqAdd { width: 0%; height: 0%;}
    section.thirdRank aside  { width: 40%; }
    section.thirdRank .thirdRk { margin:0px; background: no-repeat center top; background-size: 210px 145px; padding-top: 155px;  }
    
    
    
    /*search box*/
    #search form input[type=search] { position: relative; top: -48px; left:400px ; }
    
    /*navigation*/
    nav { position:static; width: auto; padding: 20px 15px; background-color: #006699; }
    nav ul { padding-left: 20px; }
    
    /*square adverts*/
    section.secondRank .secondRk.advert{ display: none; }
    section.thirdRank .thirdRk.advert { display: none; }
    
    /*narrow banner*/
    section.mobileBanner .banner { background: no-repeat center top; background-image: url(../images/narrowBanner.svg); width: 100%; padding-top: 110px;  }
    
    nav {margin-left: 5px;  width: 100%;}
    
    /*&section.narrowBanner { position: relative; left: -140px; background: no-repeat center top;  background-image: url(../images/narrowBanner.svg);padding-top: 80px;  background-size: 120% 100px;  }*/
    
    
     section.narrowBanner { margin-left: 5px; background: no-repeat center top; background-image: url(../images/narrowBanner.svg); width: 100%; padding-top: 110px;  }  
}

@media screen and (max-width: 540px ) {
    
    section.pic {height:300px; width:400px;}
    section.pic aside.topPhoto { margin-left:2%; height: 100%; width: 100%;}
    
    section.firstRank {margin-left: 0px;}
    section.firstRank aside.topStory { width:90%;} 
    section.firstRank aside .top{ margin-left: 5%; /*padding-left: 5px; padding-right: 5px;*/}
}
    
        
   
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


